{{define "content"}}
    <div class="row ">
		<div class="columns small-12">
		<ul class="row products small-block-grid-4">
			{{range .}}
				{{template "product-summary" .}}
			{{end}}
		</ul>
		</div>
	</div>
{{end}}